* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #0b0d0e;

  background-image:
    linear-gradient(rgba(74, 107, 111, 0.628) 1px, transparent 1px),
    linear-gradient(90deg, rgba(54, 54, 96, 0.4) 1px, transparent 1px),
    repeating-linear-gradient(
      45deg,
      rgba(20, 35, 30, 0.3) 0,
      rgba(20, 35, 30, 0.3) 1px,
      transparent 0,
      transparent 20px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(20, 35, 30, 0.3) 0,
      rgba(20, 35, 30, 0.3) 1px,
      transparent 0,
      transparent 20px
    );
  background-size:
    40px 40px,
    40px 40px,
    auto,
    auto;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homestr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  background-color: rgb(3, 22, 23);
  width: 1377px;
  height: 70px;
  border-radius: 250px;
  margin: 35px 0 0 50px;
  padding: 35px 100px;
  box-shadow: 1px 1px 20px 1px rgb(64, 226, 226);
}
.homeh2 {
  color: rgb(244, 245, 246);
}

.title_hero .fime_kardbtn:hover {
  transform: scale(1.1);
}
.fime2_kardbtn:hover {
  transform: scale(1.1);
}
.fime3_kardbtn:hover {
  transform: scale(1.1);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  color: aliceblue;
}
.nav__ul {
  display: flex;
  gap: 50px;
}
.nav__ul li :hover {
  color: rgb(39, 128, 137);
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainbtn {
  background-color: rgb(10, 247, 204);
  color: black;
  width: 110px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  transition: 0.3s;
}
.main2btn {
  background: none;
  color: rgb(255, 255, 255);
  width: 110px;
  height: 50px;
  margin: 0 0 0 10px;
  border-radius: 15px;
  font-size: 15px;
  border: 2px solid rgb(49, 242, 222);
  transition: 0.3s;
}
.info_main {
  margin: 200px 0 0 100px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 500px;
  position: relative;
}
.title_hero {
  margin: 0 0 50px 100px;
}

.info_hero {
  position: absolute;
  left: 850px;
  top: 150px;
}
.h5_hero {
  font-size: 45px;
  position: absolute;
}
.fine_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 22, 23);
  width: 1377px;
  height: 70px;
  border-radius: 250px;
  margin: 35px 0 0 50px;
  padding: 35px 500px;
  box-shadow: 1px 1px 20px 1px rgb(64, 226, 226);
  transition: 0.3s;
}

.mainbtn:hover {
  background-color: transparent;
  border: 2px solid rgb(64, 226, 226);
  color: rgb(64, 226, 226);
  box-shadow: 1px 1px 20px 1px rgb(4, 224, 199);
  transform: scale(1.1);
}

.fine_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
  position: relative;
}
.title_fh1 {
  font-size: 57px;
  color: rgb(252, 254, 255);
}

.kard_big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgb(195, 157, 132);
  width: 1200px;
  height: 370px;
  border-radius: 30px;
  top: 300px;
  left: 130px;
  padding: 50px;
  transition: 0.3s;
}

.kard_mini {
  width: 350px;
  height: 200px;
  background-color: rgba(232, 165, 111, 0.415);
  border-radius: 30px;
  padding: 50px 0 50px 50px;
}
.fime_kardbtn {
  width: 150px;
  height: 35px;
  background-color: rgba(30, 24, 19, 0.815);
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 20px;
  transition: 0.3s;
}
.img_finek {
  position: absolute;
  top: 37px;
  left: 450px;
}

.kard2_big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgb(216, 130, 73);
  width: 1200px;
  height: 370px;
  border-radius: 30px;
  top: 800px;
  left: 130px;
  padding: 50px;
  transition: 0.3s;
}
.oila_wrapper {
  margin-top: 200px;
  position: relative;
}
.hero_img{
  border-radius: 30px;
  box-shadow: 1px 1px 30px 1px rgb(81, 180, 189);
  margin-top: 100px;
}
.img_nav {
  position: absolute;
  left: 800px;
  top: 90px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px 1px rgb(83, 209, 218);
}
.bigbox_oil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
.boxoil {
  width: 500px;
  height: 550px;
  background-color: rgb(3, 40, 55);
  border-radius: 30px;
  transition: 0.3s;
}
.minibox_oil{
  padding: 30px;
}
.boxoil:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 30px 1px rgb(78, 197, 206);
}
.kard2_mini {
  width: 350px;
  height: 200px;
  background-color: rgb(145, 61, 9);
  border-radius: 30px;
  padding: 50px 0 50px 50px;
}
.fime2_kardbtn {
  width: 150px;
  height: 35px;
  background-color: rgba(57, 31, 14, 0.815);
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 20px;
  transition: 0.3s;
}
.img2_finek {
  position: absolute;
  top: 37px;
  left: 450px;
}

.kard3_big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(14, 88, 130, 0.906);
  width: 1200px;
  height: 370px;
  border-radius: 30px;
  top: 1300px;
  left: 130px;
  padding: 50px;
  transition: 0.3s;
}
.kard3_mini {
  width: 350px;
  height: 200px;
  background-color: rgba(69, 118, 138, 0.415);
  border-radius: 30px;
  padding: 50px 0 50px 50px;
}
.fime3_kardbtn {
  width: 150px;
  height: 35px;
  background-color: rgba(9, 22, 58, 0.815);
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  font-size: 20px;
  transition: 0.3s;
}
.img3_finek {
  position: absolute;
  top: 37px;
  left: 450px;
}
.main2btn:hover {
  background-color: rgb(6, 245, 225);
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 20px 1px rgb(4, 224, 199);
  transform: scale(1.1);
}
.foot_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 150px;
}
.box_foot {
  width: 1400px;
  height: 500px;
  margin: 0 0 50px 30px;
  padding: 70px 150px;
}
ul li {
  color: rgb(48, 117, 94);
  font-size: 21px;
  margin: 10px;
}
.boxfootvini {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minifoitpos {
  position: absolute;
  left: 1100px;
  top: 360px;
}
.stun__wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  margin-top: 2000px;
}
.title_stun {
  position: absolute;
  top: -250px;
}
.h1divs {
  position: absolute;
  top: -150px;
  left: 130px;
}

.h1stun {
  color: aliceblue;
  font-size: 55px;
}

.boxstun {
  position: absolute;
  width: 450px;
  height: 599px;
  background-color: rgb(15, 43, 50);
  border-radius: 30px;
  overflow: hidden;
  transition: 0.5s ease;
}

.imgstun {
  display: block;
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.miniboxs {
  padding: 30px;
}

.h3stun {
  font-size: 21px;
  color: aliceblue;
  padding: 5px 0;
}

.h5stun {
  color: rgb(74, 216, 193);
  padding: 5px 0;
}

.pstun {
  font-size: 19px;
  color: rgb(160, 160, 160);
  padding: 5px 0;
}

.active-card {
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  z-index: 5;
  box-shadow: 1px 1px 35px 1px rgb(46, 175, 200);
}

.left-card {
  left: 20%;
  top: 80px;
  transform: scale(0.82);
  filter: blur(5px);
  opacity: 0.5;
  z-index: 2;
}

.right-card {
  right: 20%;
  top: 80px;
  transform: scale(0.82);
  filter: blur(5px);
  opacity: 0.5;
  z-index: 2;
}

.hidden-card {
  display: none;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;
}

.dots span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
  transition: 0.3s;
}

.dots .active {
  width: 18px;
  height: 18px;
  background-color: white;
}
.kard_big:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 50px 1px rgb(219, 202, 145);
}
.kard2_big:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 50px 1px rgb(151, 108, 72);
}
.kard3_big:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 50px 1px rgb(74, 209, 233);
}
